---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "{{ .Values.ingress.name }}"
  annotations:
    kubernetes.io/ingress.class: "{{ .Values.ingressClass }}"
    certmanager.k8s.io/cluster-issuer: "{{ .Values.certIssuer }}"
spec:
  tls:
  - hosts:
    - "{{ .Values.domainName }}"
    secretName: "{{ .Values.certSecret }}"
  rules:
  - host: "{{ .Values.domainName }}"
    http:
      paths:
      - path: /
        backend:
          serviceName: "{{ .Values.app.name }}"
          servicePort: "{{ .Values.app.port }}"
